<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Cálculo de IMD</title>
    <%- include('partials/head'); -%>
        <script type="text/javascript" src="/funcionesConfiguracion.js"></script>
</head>

<body class="profile">
    <p id="idEmail" style="display:none">
        <%=user.local.email%>
    </p>
    <br>
    <p id="idEmpresa" style="display:none">
        <%=user.local.nombreempresa%>
    </p>
    <br>
    <div class="container">
        <header class="text-center">
            <br>
            <div class="p-3 bg-dark text-white rounded-3">
                <h1>Bienvenido al cálculo de IMD</h1>
                <h2>
                    <%=user.local.email%>
                </h2>
                <h2>Empresa: <%=user.local.nombreempresa%>
                </h2>
                <br>
            </div>
            <br>
            <a href="/profile" class="btn btn-dark btn-lg">
                Inicio
            </a>
            <a href="/historial" class="btn btn-dark btn-lg">
                Historial
              </a>
            <a href="/logout" class="btn btn-dark btn-lg">
                Salir
            </a>
        </header>
        <hr>

        <div id="contenido">

        </div>
        <br>
    </div>
    <script defer>
        this.onload = renderizarPagina()
    </script>
</body>

</html>